.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}
#formEdit, #selectContenu {
    text-align: center;
    width: 100%;
    margin-top: -50px;
  }
#selectContenu {
    height: 10%;
}




@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

body {
  font-family: 'Lato', sans-serif;
}

.containerfile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.formfile {
  width: 400px;
}

.file-upload-wrapper {
    border-radius: 0 5px 5px 0;
    border: 2px solid #04abd3;
    border-radius : 9px;
    transition-duration: 0.4s;


  position: relative;
  width: 100%;
  height: 45px;
}
.file-upload-wrapper:hover {
    content: 'Upload';
    color: #04abd3;
    background: white;
}

.file-upload-wrapper::before {
    content: 'Upload';
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 42px;
    background-color: #04abd3;
    color: white;
    font-weight: 700;
    z-index: 25;
    font-size: 16px;
    line-height: 42px;
    padding: 0 15px;
    text-transform: uppercase;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    transition-duration: 0.5s;
  }
  .file-upload-wrapper::after{
    content: attr(data-text);
    font-size: 10px;
    position: left;
    top: 0;
    left: 0;

    transition-duration: 0.4s;
    background: white;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 10px);
    pointer-events: none;
    z-index: 20;
    height: 38px;
    line-height: 40px;
    color: white;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}

.inputfile {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    height: 57px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
  }




@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color:black;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid #0067f4;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #0067f4; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#0067f4;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#0067f4; }
